<html>
  <head>
      <title>Web Socket Client</title>
  </head>
  <body style="padding:10px;">
     <h1>Web Socket Chating Room</h1>
      <div style="margin:5px 0px;">
        Name:
        <div><input id="name" type="text" value="" style="width:400px;"/></div>
      </div>
      <div>
        <button id="disconnect">disconnect</button>&nbsp;&nbsp;
        <button id="clear">clear</button>
      </div>

      <h5 style="margin:4px 0px;">Message:</h5>
        <div id="message" style="border:solid 1px #333; padding:4px; width:400px; overflow:auto;
          background-color:transparent; height:300px; margin-bottom:8px; font-size:14px;">
        </div>
      <input id="text" type="text" style="width:340px"/> &nbsp;&nbsp;
      <button id="send">send</button>



    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
   
      var dispatcher = new WebSocketRails('localhost:3000/websocket');

              
      dispatcher.on_open = function(data) {
        console.log("Connection has been established");
      };

      dispatcher.on_close = function(data){
        var mess = $('<p>server has colsed</p>');
        $('h5').append(mess);
      };

     

      $('#disconnect').on('click', function(){
        dispatcher.close();
      });

      $('#clear').on('click', function(){
        dispatcher.trigger('chats.close', chat);
      });

      $('#send').on('click', function(){
        var chat = {
          name: $('#name').val(),
          content: $('#text').val()
        };

        dispatcher.trigger('chats.create', chat);

        dispatcher.bind('chats.success', function(response) {
          console.log("You are success because: " + response.name);
          $('#message').append(response.name + ':' + response.content);
        });

        dispatcher.bind('chats.fail', function(response) {
          console.log("You are failure because: " + response.name);
          $('#chat-log').append(response.name + ':' + response.content);
        });
      });

      

    </script>
  </body>
</html>